<h1>Create A New Article</h1>

<form action="/articles" method="POST">

  <ul>
    <li>
      <label for="article-title">Title:</label>
      <input id="article-title" type="text" name="title"/>
    </li>

    <li>
      <label for="article-content">Content:</label>
      <input id="article-content" type="text" name="content"/>
    </li>
  </ul>

  <input type="submit" />

</form>
